<!-- templates/accounts/password_reset_confirm.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Confirm</title>
</head>
<body>
    <h2>Password Reset Confirm</h2>
    <form method="post" action="{% url 'password_reset_confirm' uidb64=uidb64 token=token %}">
        {% csrf_token %}
        <label for="new_password1">New Password:</label>
        <input type="password" name="new_password1" required>
        <br>
        <label for="new_password2">Confirm New Password:</label>
        <input type="password" name="new_password2" required>
        <br>
        <button type="submit">Set New Password</button>
    </form>
</body>
</html>
